<h1><%= @place["name"] %> -- My Entries</h1>

<% if User.find_by({ "id" => session["user_id"] }) != nil %>
<div class="row px-5">
    <% for entry in @entries %>
      <div class="col-sm-6 col-md-3">
        <h3><%= entry["title"] %></h3>
        <h4><%= entry["occurred_on"] %></h4>
        
        <% if entry.uploaded_image.attached? %>
          <img src="<%= url_for(entry.uploaded_image) %>" class="img-fluid">
          <p><%= entry["description"] %></p>

        <% else %>
          <p><%= entry["description"] %></p>
        <% end %>
      </div>
  <% end %>
</div>

<div class ="row py-5">
  <div class="col">
    <p>
      <a href="/entries/new?place_id=<%= @place["id"] %>">New Entry</a>
    </p>
  </div>
</div>
  
<% else %>
<div class="row px-5">
  <p>You must be logged in to create a new entry</p>
</div>
<% end %>  

<div class ="row">
  <div class="col">
    <p>
      <a href="/places">Back to All Places</a>
    </p>
</div>