<h1><%= @place["name"] %></h1>

<h2>My Entries</h2>

<% if User.find_by({ "id" => session["user_id"] }) != nil %>
  <div class="row">
  <% for entry in @entries %>
    <div class="col-sm-6 col-md-3">
    <h3><%= entry["title"] %></h3>
    <h4><%= entry["occurred_on"] %></h4>
    <p><%= entry["description"] %></p>
    <div>
  <% end %>
  <div>

  <p>
    <a href="/entries/new?place_id=<%= @place["id"] %>">New Entry</a>
  </p>
  
<% else %>
  <p>You must be logged in to create a new entry</p>
<% end %>  

<p>
  <a href="/places">Back to All Places</a>
</p>
